<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="./assets/images/eagle-motors-logo.png" id="logo"></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>
        <a class="btn btn-outline-success" href="/admin" role="button">ADMIN</a>
    </div>
</nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6" id="car-input">
            <h2>Add a car</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group panel-body">
                    {{!-- option to select from select list --}}
                    {{!--<div class="form-group">
                        <label for="category">Make:</label>
                        <select class="form-control" id="category">
                        <option value="audi">Audi</option>
                        <option value="bmw">BMW</option>
                        <option value="toyota">Toyota</option>
                    </select>
                    </div>--}}
                    <label for="make">Make:</label>
                    <input type="text" name="make" class="form-control" id="make" required>
                    <label for="model">Model:</label>
                    <input type="text" name="model" class="form-control" id="model" required>
                    <label for="year">Year:</label>
                    <input type="number" min="1990" max="2030" name="year" class="form-control" id="year" required>
                    <label for="color">Color:</label>
                    <input type="text" name="color" class="form-control" id="color" required>
                    <label for="miles">Miles:</label>
                    <input type="number" min="1" max="4000000" name="miles" class="form-control" id="miles" required>
                    <label for="price">Price:</label>
                    <input type="number" name="price" min="1" max="50000" class="form-control" id="price" required>
                    <label for="price">Photo:</label>
                    <input type="text" name="photo" class="form-control" id="photo" required>
                    <br />
                    <button type="submit" class="btn btn-primary submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 car-container panel panel-default">
            <h2>Listed cars</h2>
                {{#each cars}} {{#unless this.sold}}
                <div class="admin-cars panel-body" id="{{this.id}}">
                    <img class="car-img" src="{{this.photo}}">
                    <p>Make: {{this.make}}</p>
                    <p>Model: {{this.model}}</p>
                    <p>Year: {{this.year}}</p>
                    <p>Exterior: {{this.color}}</p>  
                    <p>Miles: {{this.miles}}</p> 
                    <p>Price: ${{this.price}}</p>
                    <form id="update-btn" action="/{{this.id}}?_method=PUT" method="UPDATE">
                        <input type="hidden" value="true">
                        <button class="admin-btn btn btn-success" type="submit">Update</button>
                    </form>
                    {{!-- NOTE: What if instead of completely deleting the car record from the db, we have 2 different kinds of PUT requests where the first one (above) allows admin to update the car details and the second request labeled "sold" just marks the field as true which would then remove the car from the HTML bc of the handlebar condition {{#unless this.sold}}--}}
                    <form id="sold-btn" action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="sold" value="true">
                        <button class="admin-btn btn btn-warning" type="submit">Sold</button>
                    </form>
                    {{!--<form id="delete-btn" action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="sold" value="true">
                    </form>--}}
                    {{> cars/delete-car}}
                    <br>
                
                </div>
                {{/unless}} {{/each}}
        </div>
    </div>

      <hr>

      <footer>
        <p>&copy; B&R Eagle Motors 2017</p>
      </footer>
</div>
<!-- Custom Script -->
{{!--<script src="js/admin.js" type="text/javascript"></script>--}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
{{!--
<ul>
    {{#each cars}}
        <li>
            {{car}}
        </li>
    {{/each}}
</ul>--}}